body{
    font-family: 'Helvetica Neue';  
    text-align: center;
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#main-container{
    margin: 150px auto;
    width: 600px;
}

h1{
    text-align: center;
    color: white;
}

h3{
    color: white;
}

p{
    color: white;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: green;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: underline;
}

tr:hover a{
    background-color: #369681;
    color: white;
}

p{
    text-align: center;
    color: white;
}

table{
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    text-align: center;
    padding: 20px;
}

thead{
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
    text-align: center;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #369681;
    color: white;
}   

:root{
    --pink: #EF3C82;
    --white: white;
    --black: black;
    --red: #E74C3C;
    --blue: #3498DB;
    --purple: #9B59B6;
    --yellow: #FEB506;
    --green: #62CB31;
}

* {
    margin:0px;
    padding:0px;
}

#header {
    margin:auto;
    width:320px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

*{
    font-family: Century Gothic, CenturyGothic, AppleGothic; 
}
body{
    margin: 0;
}
.bg-dark{
    background-color: rgb(48, 51, 59);
    background-image: -webkit-radial-gradient(center , circle cover, rgb(57, 59, 69) 0%, rgb(45, 48, 56) 70%);
    min-height: calc(100vh - 30px);
    margin: 0;
}

.btn-container{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-item{
}


.btn-ghost{
    position: relativate;
    display: inline-block;
    border: 2px solid var(--white);
    padding: 10px 50px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--white);
    transition: color 0.5s, background 0.5s;
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 1em;
    min-width: 140px;
    text-align: center;
}

.btn-ghost.round{
    border-radius: 30px;
}

.btn-ghost:hover{
    color: var(--white);
    background-color: transparent;
}

.btn-ghost:active{
    box-shadow: inset 0 0 20px var(--white);
}


